* {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

header {
    grid-row: 1;
    width:100%;
    padding-top: 20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-logo {
    padding: 0 30px 0 60px;
    border-left-style: solid;
    border-left-width: 5px; 
    border-image: linear-gradient(white, #ea9f06);
    border-image-slice: 1;
}

.panier {
    padding: 5px 20px;
    border: solid 1px;
}

#logo-text {
    color:  #ea9f06;
}

div.panier {
    background-color: rgb(217, 212, 212);
    border: solid 1 px;
    display: flex;
}

div.panier a {
    display:flex;
    align-items: center;
    padding: 0px 20px;
    /* margin: 0px 20px; */
    text-decoration: none;
    color: black;
}

div.panier a p {
    padding-left:10px;
}

.header-bonjour {
    text-align: right;
    font-size: 1.2rem;
    padding:10px 0px;
}

header table td{
    border-left: solid 1px black;
    padding: 10px 10px;
}

header table td:last-child {
    border-right: solid 1px black;
}